<div class="products-container">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Cutlery
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="card col-md-2">
                  <img src="./assets/images/cutlery/black.jpg" class="card-img-top" alt="...">
                  <div class="card-body price">
                    <h6 class="card-title my-0">Black<a href="#" class="btn btn-add float-right"><i class="fas fa-cart-plus"></i></a></h6>
                    <span class="card-text">₱170.00</span>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/cutlery/blue.jpg" class="card-img-top" alt="...">
                  <div class="card-body price">
                    <h6 class="card-title my-0">Blue<a href="#" class="btn btn-add float-right"><i class="fas fa-cart-plus"></i></a></h6>
                    <p class="card-text">₱170.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/cutlery/rainbow.jpg" class="card-img-top" alt="...">
                  <div class="card-body price">
                    <h6 class="card-title my-0">Rainbow</h6>
                    <p class="card-text">₱170.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/cutlery/rose-gold.jpg" class="card-img-top" alt="...">
                  <div class="card-body price">
                    <h6 class="card-title my-0">Rose Gold</h6>
                    <p class="card-text">₱170.00</p>
                  </div>
                </div>

                <div class="card col-md-2 price">
                  <img src="./assets/images/cutlery/silver.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Silver</h6>
                    <p class="card-text">₱170.00</p>
                  </div>
                </div>


                <div class="card col-md-2 price">
                  <img src="./assets/images/cutlery/violet.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Violet</h6>
                    <p class="card-text">₱170.00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Metal Straw Set
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body price">
              <div class="row">
                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/black.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Black</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/blue.jpg" class="card-img-top" alt="...">
                  <div class="card-body price">
                    <h6 class="card-title my-0">Blue</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/frosted-pink.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Frosted Pink</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/fuchsia-pink.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Fuchsia Pink</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/glossy-gold.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Glossy Gold</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>


                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/green.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Green</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/mauve.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Mauve</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>
                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/red.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Red</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/rose-gold.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Rose Gold</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/silver.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Silver</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

                <div class="card col-md-2">
                  <img src="./assets/images/strawsets/violet.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title my-0">Violet</h6>
                    <p class="card-text">₱150.00</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>