*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
/*landing page*/

body {
	background-image: url("../images/ecobg.jpg"); /*Photo by Alena Koval from Pexels*/
	height: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}

.caption {
	position: absolute;
	top: 50%;
	margin-left: 55%;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

.caption1 {
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

header {
	color: #056325;
	letter-spacing: .5rem;
}

strong {
	color: #000;
}

hr {
	width: 90%;
}


.go-eco-btn {
	font-family: 'Fjalla One', sans-serif;
	color: #764F2A;
	font-size: 2em;
}

.go-eco-btn:hover{
	text-decoration: none;
	color: #764F2A;
}

.ecobtn {
	border-radius: 50%;
	width: 30%;
}

.button {
  border-radius: 4px;
  color: #734F24;
  text-align: center;
  font-size: 2em;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2vw;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#span{
	letter-spacing: 0;
}
@media only screen and (max-width: 400px){
	
	body {
		background-image: url("../images/landing/ecobg-sm.jpg"); /*Photo by Alena Koval from Pexels*/
		height: 100%;
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		background-attachment: fixed;
	}


	.caption1{
		top: 75%;
	}

	.go-eco-btn {
		font-family: none;/*'Anton', sans-serif;*/
		font-size: 1em;
		color: white;
		border: 4px solid white;
		border-radius: 50%;
	}

	hr {
		margin-bottom: 10px;
	}

	.click-btn {
		border-radius: 50%;
		border: 5px solid #056325;
		background-color: #13D353;
	}
}
