*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*index page*/
.navbar {
	background-color: #916C80; 

}

.brand-name {
	font-size: 1.5em;
}

.brand-container p {
	color: #d3d3d3;
	padding-left: 1vw;
}

.brand-container p:hover {
	color: #fff;
}

.nav-link {
	color: #d3d3d3;
/*	font-size: 1em;*/
}

.nav-link:hover {
	color: white;
}

.active {
	color: white;
	border-bottom: 3px solid #E3D8F1;
}

.logo {
	height: 5%;
	width: 5%;
	border-radius: 50%;
}

.navbar-brand > p {
	font-family: 'Caveat', cursive;
}


a:link {
	text-decoration: none;
}




#search {
	border-radius: 5px;
	width: 70%;
	margin-left: 10%;
}

#search-btn{
	background-color: #4C2C69;
	padding: 1% 3%;
}

/*this is the width 404*/
/*#homenav {
	width: 40px;
}*/

.btn-checkout {
	background-color: #4C2C69;
	color: #fff; 
}

.btn-checkout:hover {
	background-color: #5C486E;
	color: #E3D8F1; 
}

i{
	color: white;
}

.nav-container {
	margin-bottom: 10vh;
}

h3 {
	background-color: #4C2C69; /*change from lime green #AEF865*/
	color: white; /*change from dark green #056325*/
}

.fa-bars {
	color: #4C2C69;
}

.card-img {
	border: 10px solid #4C2C69; /*change from lime green #AEF865*/
}
#bars-category{
	padding-left: 5.5vw;
	padding-right: 5.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

#strawsets-category{
	padding-left: .1vw;
	padding-right: .1vw;
}

#brushes-category{
	padding-left: .75vw;
	padding-right: .75vw;
}

.btn-category {
	border: 10px solid #916C80;
	color: #916C80;
}

.btn-category:hover {
	border: 10px solid #E3D8F1;
	color: #E3D8F1;
	background-color: #916C80;

}


.carousel-container, .carousel-btm>.carousel-pic {
	padding: 0;
	height: 20%;
}

.carousel-pic {
	border: 3px solid white;
}

.card-body > i {
	color: black;
}

.services {
	background-color: #E3D8F1;
}


.delivery {
	border: none;
}

.footer-txt {
	color: #D3D3D3;
	
}
 footer ul {
 	list-style-type:  none;
 }


 ul a {
 	color: #D3D3D3;
 }


/*products*/

.card button:hover {
	color: #E3D8F1;
	text-decoration: none;
}

.products-container {
	margin: 1vh;

}

.btn-add {
	background-color: #4C2C69;
}

.price {
	padding: 15px;
}

.header-bg {
	background-color: #49274A;
}

.header-font {
	color: white;
}

/*about*/

.about-img {
	height: 60%;
}

.jumbotron-pic-1 {
	background-color: #49274A;
}

.about-img {
	width: 100%;
	height: auto;
}

.bazaar-container h1, .bazaar-container span{
	color: #4C2C69;
}


@media only screen and (max-width: 400px){
	
	.logo {
		height: 50px;
		width: auto;
		
	}
	.navbar-toggler-icon {
		color: white;
		padding-right: 0;
	}
	

}
