*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


/*index page*/
.navbar {
	background-color: #916C80; 

}

.brand-name {
	font-size: 1.5em;
}

.brand-container p {
	color: #d3d3d3;
	padding-left: 1vw;
}

.brand-container p:hover {
	color: #fff;
}

.nav-link {
	color: #d3d3d3;
/*	font-size: 1.2em;*/
}

.nav-link:hover {
	color: white;
}

.active {
	color: white;
	border-bottom: 3px solid #E3D8F1;
}

.logo {
	height: 5%;
	width: 5%;
	border-radius: 50%;
}

.navbar-brand > p {
	font-family: 'Caveat', cursive;
}


a:link {
	text-decoration: none;
}




#search {
	border-radius: 5px;
	width: 70%;
	margin-left: 10%;
}

#search-btn{
	padding: 1% 3%;
}

/*this is the width 404*/
/*#homenav {
	width: 40px;
}*/

.btn-checkout {
	background-color: #4C2C69;
	color: #E3D8F1;
}

i{
	color: white;
}

.nav-container {
	margin-bottom: 15vh;
}



.fa-bars {
	color: #4C2C69;
}

.footer-txt {
	color: #D3D3D3;
	
}
 footer ul {
 	list-style-type:  none;
 }


 ul a {
 	color: #D3D3D3;
 }

/*contact*/
body {
	background-image: url("../images/contact/contact.jpg"); /*Photo by Alena Koval from Pexels*/
	height: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

}

form {
	border: 3px solid #4C2C69;
}

h5 {
	font-family: 'Roboto Slab', serif;
}

.btn {
	background-color: #4C2C69;
	color: #fff; 
}

.btn:hover {
	background-color: #5C486E;
	color: #E3D8F1; 
}

.address-container {
/*	background-color: #E3D8F1;*/
	height: 40vh;
	border: 3px solid #4C2C69;
}


@media only screen and (max-width: 400px){
	
	.logo {
		height: 50px;
		width: auto;
		
	}
	.navbar-toggler-icon {
		color: white;
		padding-right: 0;
	}
	
	form {
		border: none;
		padding-bottom: 10vh;
		color: white;
	}

	body {
	background-image: url("../images/contact/contact1.jpg"); /*Photo by Alena Koval from Pexels*/
	height: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	}

	.address-container {
	width: 40vh;
	padding-top: 5vh;
}
}
